.suggestionBox {
  position: absolute;
  width: 1025px;
  height: 667px;
  top: 262px;
  left: 244px;
  border-radius: 4px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  margin-bottom: 40px;
//   justify-content: space-around;
}
